@media(max-width:1000px){

.sidebar{

width:75px;

}

.logo-sub,
.logo-text{

display:none;

}

.nav-item{

justify-content:center;

}

.nav-item span{

display:none;

}

}

@media(max-width:768px){

.stats-grid{

grid-template-columns:1fr;

}

.form-row{

flex-direction:column;

}

.topbar{

flex-direction:column;

gap:15px;

align-items:flex-start;

}

table{

display:block;

overflow:auto;

}

}