@media(max-width:992px){

.app{

flex-direction:column;

}

.sidebar{

width:100%;

flex-direction:row;

overflow:auto;

}

.stats-grid{

grid-template-columns:1fr;

}

.form-row{

flex-direction:column;

}

.topbar{

padding:20px;

height:auto;

}

}

@media(max-width:768px){

.content{

padding:15px;

}

.card{

padding:18px;

}

table{

display:block;

overflow-x:auto;

white-space:nowrap;

}

.logo{

display:none;

}

}